.container {
  display: grid;
  width: 700px;
  height: 1000px;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 200px 2fr 100px;
}

.box {
  background-color: red;
  grid-column: 2;
  grid-row: 3;
}

/* 1000px - 700px left

1fr = 233px 
200px
2fr = 466px
100px */
