body {
  background-color: #91e219;
  margin: 0;
}

header {
  background-color: #5a8913;
  color: white;
  padding: 20px;
  text-align: center;
}

main {
  max-width: 680px;
  margin: 0 auto;
}

main img {
  width: 100%;
}

footer {
  background: linear-gradient(
    90deg,
    rgba(255, 0, 255, 1) 0%,
    rgba(255, 99, 71, 1) 84%
  );
}

.straightfacts {
  padding: 200px;
  text-align: center;
  color: white;
  font-family: monospace;
  margin: 0;
}
