.cookie-notice {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #000;
  color: #fff;
  padding: 1rem;
  border: 1px solid #ccc;
  font-size: 2rem;
  font-family: arial;
  border-radius: 10px;
}

.btn {
  border: none;
  font-size: 24px;
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
}

.reject {
  background-color: coral;
}

.approve {
  background-color: mediumspringgreen;
}

.hidden {
  display: none;
}
