body {
  font-family: monospace;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  padding: 5px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: tomato;
}

tr:nth-child(odd) {
  background-color: coral;
}
